/impact_score/datasets/100.csv
/impact_score/datasets/merged.csv
/impact_score/json_analyser/wrap/.env
/webscrapping/geckodriver.exe
/webscrapping/delete.txt
/webscrapping/geckodriver.log
*.pyc
/impact_score/impact_consumer/clutchy_matches/great_rounds.csv
/impact_score/impact_consumer/clutchy_matches/tourney.csv
/impact_score/impact_consumer/vct_matches.csv
/webscrapping/json_matches/67207.json
/webscrapping/json_matches/74680.json
/impact_score/datasets/matches/all_matches.csv
/impact_score/impact_consumer/duo_analysis/duo_performance.csv
